<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBCSPr4Ili0sTGB3_X0-bxhGc0kyXSEZU</string>
	<key>GCM_SENDER_ID</key>
	<string>860124777450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HealthyLivingGuide</string>
	<key>PROJECT_ID</key>
	<string>myapp-f2a86</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-f2a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860124777450:ios:a584ee4806745bf2a9c093</string>
</dict>
</plist>